@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.maincontainer {
    background-color: #2d3a8c;
    border-radius: 20px;
}

.secondcontainer {
    background-color: #ffffff;
    border-radius: 15px;
    height: 100vh;
}

.para-one {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 23px;
}

.para-two {
    color: #ffffff;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 35px;
}

.card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 27px;
}

.input-cardcontainer {
    background-color: #e4e7eb;
    width: 70%;
    border-radius: 22px;
}

.input-element {
    width: 90%;
    height: 35px;
    border-radius: 7px;
}

.label-element {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
}

.button-element {
    background-color: #21396c;
}

.error-msg-element {
    color: red;
    font-family: "Roboto";
    font-size: 18px;
}

.site-name-list {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
}